---
const { color, title, subtitle, subtext } = Astro.props;
const textColor = `text-${color}`;
---

<section
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color={color}
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class={`${textColor} font-medium pt-20 text-[45px]`}>{title}</h2>
      <a class={`${textColor} text-md`} href="#"><u>{subtitle}</u></a>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-10">
      <div class="gap-x-4 flex mx-auto">
        <slot name="footer" />
      </div>
    </footer>
    <slot name="underfooter" />
  </div>
  <div class="absolute top-0 bottom-0 z-10">
    <slot name="background" />
  </div>
</section>
